.bg-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.cube {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid rgba(168, 85, 247, 0.1);
    border-radius: 20px;
    animation: float 20s infinite ease-in-out;
}

.cube:nth-child(1) {
    top: 10%;
    left: 10%;
    animation-delay: 0s;
}

.cube:nth-child(2) {
    top: 50%;
    right: 10%;
    animation-delay: 7s;
}

.cube:nth-child(3) {
    bottom: 10%;
    left: 50%;
    animation-delay: 14s;
}

@keyframes float {
    0%, 100% { transform: translate(0, 0) rotate(0deg); }
    33% { transform: translate(30px, -30px) rotate(120deg); }
    66% { transform: translate(-20px, 20px) rotate(240deg); }
}
